body {
    margin: 0 auto;  /*top and bottom:0 ,left and right: auto */
    padding: 0 16px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 874px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
header p {
    margin-top: -30px;
    margin-bottom: 30px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}

.main-content {
    flex-grow: 1;
    text-align: center;
    display: inline-block;
}
.please-wait {
    text-align: center;
}
header a {
text-decoration: none;
color: #888888;
margin-right: 20px;
}
header a:hover {
    background-color: rgb(18, 114, 18);
    padding: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


.portatrait {
    width: 874px;
}

footer {
    color: #555555;
    border-top: 1px solid grey;
    margin-top: 16px;
    padding: 16px 0;
}



.tag-line {
    margin-top: 10px;
    color: #757a76;
}

/* Loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid pink;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Mobile */
  @media screen and (max-width: 485px) {
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 22px;
    }
    .portatrait {
        width: 320px;
    }
    .footer {
        text-align: center;
    }
  }

  /* Medium */
  @media screen and (max-width: 960px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 40px;
    }
    .portatrait {
        width: 480px;
    }
  }